.profile-wrapper{
    border-radius: 8px;
    background-color: #E9E9ED;
    padding: 28px; 
   
    min-height: 450px;
}

.profile-wrapper input{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    color: #404D61;
    padding-left: 8px;
}

.profile-wrapper .user-details{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    background: whitesmoke;
    border: 1px solid #E9E9ED;
    border-radius: 4px;
    height: 40px;
    color: #404D61;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}